.adminSider {
  max-width: none !important;
  min-width: 0 !important;
  flex: 0 0 230px !important;
}

.adminContainer {
  overflow-y: scroll;
  position: fixed;
  width: 230px;
  background-color: var(--admin-primary-color) !important;
  height: 100vh;
}

.adminMenu {
  background-color: var(--admin-primary-color);
}

.adminContainer::-webkit-scrollbar {
  display: none;
}
