.adminSider {
  max-width: none !important;
  min-width: 150px !important;
  flex: 0 0 20% !important;
}

.adminContainer {
  min-width: 150px !important;
  overflow-y: scroll;
  position: fixed;
  width: 20%;
  background-color: var(--admin-primary-color) !important;
  height: 100vh;
}

.adminMenu {
  background-color: var(--admin-primary-color);
}

.adminContainer::-webkit-scrollbar {
  display: none;
}

.adminContentContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3%;
  margin-right: 3%;
}
