:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --admin-green900: #14794f;
  --admin-green500: #00d272;
  --gray-white-color: #bbb;
  --admin-bg-color: #f0fdf4;
  --shadow-color: #ccc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-menu-item,
.ant-menu-submenu {
  color: var(--gray-white-color) !important;
  font-size: 13px !important;
  min-height: 46px;
  font-weight: 500 !important;
}

.ant-menu-item span:nth-child(1),
.ant-menu-submenu span:nth-child(1) {
  padding-left: 20px;
}

.ant-menu-submenu:hover div span {
  color: white !important;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  background-color: rgba(249, 117, 8, 0) !important;
  width: 100% !important;
  margin-left: 0 !important;
  font-weight: 700 !important;
  background-image: linear-gradient(
    to right,
    var(--admin-green500),
    rgba(0, 210, 114, 0.7),
    rgba(0, 210, 114, 0.2),
    rgba(229, 106, 6, 0)
  ) !important;
  color: white !important;
  border-radius: 0 !important;
  overflow: visible;
  font-size: 15px !important;
}

.ant-menu-item-selected::before,
.ant-menu-submenu-selected::before {
  content: '';
  min-height: 46px;
  width: 6px;
  background-color: white;
  position: absolute;
  left: -2px;
}

.ant-menu-item svg,
.ant-menu-submenu svg {
  margin-right: 10px;
  margin-left: 10px;
}

.ant-menu-submenu .ant-menu-item {
  margin: 0 !important;
  background-color: #004e45 !important;
  width: 100% !important;
  border-radius: 0;
  font-weight: 400 !important;
  background-image: none !important;
  color: var(--gray-white-color) !important;
}

.ant-menu-submenu-selected .ant-menu-item-selected {
  font-weight: 600 !important;
  color: white !important;
}

.ant-menu-submenu-selected div {
  color: white !important;
}

.ant-menu-submenu i {
  color: var(--gray-white-color) !important;
}
.ant-menu-submenu-selected i {
  color: white !important;
}

.ant-menu-submenu-selected .ant-menu-item-selected::before {
  height: 0;
  width: 0;
}

/* ------------- scroll bar -------------*/
::-webkit-scrollbar {
  display: none;
}

.ant-table-body::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 5px;
}

/* Track */
.ant-table-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--admin-green900);
  border-radius: 12px;
}

/* Handle */
.ant-table-body::-webkit-scrollbar-thumb {
  background: var(--admin-green900);
  border-radius: 12px;
}

/* Handle on hover */
.ant-table-body::-webkit-scrollbar-thumb:hover {
  background: var(--admin-green500);
}

/* ------------- /scroll bar -------------*/

.ant-table-thead .ant-table-cell {
  background-color: white !important;
}

.ant-picker-dropdown .ant-btn {
  background-color: var(--admin-green900);
}

.ant-picker-dropdown .ant-btn:hover {
  background-color: var(--admin-green500);
}

.ant-picker-dropdown .ant-picker-now-btn:hover {
  color: var(--admin-green500);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
